@use "../../styles/variables";
@use "../../styles/helpers";

.auth-form {
  display: grid;
  place-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    min-width: 320px;

    .button {
      margin: 0 auto;
    }
  }
}